.benefits__section-content {
	background-color: $background-transparent;
}

.benefits__title {
	color: $title-color;
}

.benefits__title-card {
	color: $text-dark-blue;
}

.benefits__text {
	color: $text-color;
}

.benefits__list {
	padding: 1rem 2rem;
}

.benefits__list li {
	list-style: initial;
	font-size: 0.9rem;
	line-height: 1.6rem;
	font-weight: 200;
}

.benefits__card-body {
	height: 22rem;

	@media (max-width: 991px) {
		height: 25rem;
	}
}
