.main-section__section-content {
	background-color: $background-transparent;
}
.main-section__title-h1 {
	color: $title-color;
}
.main-section__text {
	color: $text-color;
	margin: 0.8rem 0rem 2rem 0rem;
}

.main-section__image {
	width: 55%;
}

.main-section__icon {
	font-size: 1rem;
}
