.main-section__section-content {
	background-color: $background-transparent;
	@media only screen and (max-width: 765px) {
		padding-top: 1.5rem;
	}
}
.main-section__title-h1 {
	color: $title-color;
}
.main-section__text {
	color: $text-color;
}
.main-section__text-2 {
	color: $text-color2;
	font-size: 1.1rem;
}

.main-section__image {
	width: 50%;
	margin-right: -6%;

	@media only screen and (min-width: 768px) and (max-width: 991px) {
		width: 85%;
	}

	@media only screen and (max-width: 765px) {
		width: 66%;
		margin-top: 2rem;
	}
}

.main-section__image2 {
	width: 43%;
	margin-top: -27%;

	@media only screen and (max-width: 991px) {
		display: none;
	}
}

.main-section__icon {
	font-size: 1rem;
}

.main-section__espacio-text {
	margin-top: 1.5rem;
}

.main-section__bg {
	background: linear-gradient(90deg, #184998 0%, #282559 100%);
	clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
	@media only screen and (max-width: 767px) {
		clip-path: none;
		background: $background-transparent;
		background-image: linear-gradient(
			135deg,
			$white 50%,
			#184998 50%,
			#282559 100%
		);
	}
}
