@import '~bootstrap/scss/bootstrap';
@import './base/settings';
@import './base/base';

// Components
@import './components/header';
@import './components/buttons';
@import './components/footer';
@import './components/slider-card';
@import './components/slider-company';
@import './components/banner-type-one';
@import './components/banner-type-two';
@import './components/main-section';
@import './components/benefits';
@import './components/como-funciona';
@import './components/team';
