// Colors
$primary: #0d47a1;
$title-color: #404040;
$text-color: #404040;
$text-color2: #7f7f7f;
$text-dark-blue: #282559;

$grey: #cfcfcf;
$black: #000000;
$white: #ffffff;

// Fondos
$background: #ffffff;
$background-transparent: transparent;
$background-light: #fafafa;

//Sombras
$shadow: 0 1px 10px 0 #6c757d45;

//Tamaño de letra
$ft-global: 1rem;
$ft-btn: 0.8rem;
$ft-input: 0.8rem;
$ft-h1: 2.1rem;
$ft-h2: 2rem;
$ft-h3: 1.75rem;
$ft-h4: 1.5rem;
$ft-h5: 1.25rem;
$ft-h6: 1rem;
